header {
  background-color: #273646;
}
.navbar-light .navbar-toggler {
   color: rgb(255, 253, 253);
   border-color: rgb(255,255,255)
}

.jumbotron {
   background-color: #19B491;
}
.jumbotron .img {
   margin: 50px 0 20px;
   width: 350px;
}


.about {
   margin: 20px 0;
   background-color: #19B491;
}
.download {
   margin-top: 20px;
   height: 50px;
}

.contact-col [class^="col"] {
   border: 1px solid black;
   height: 50px;
}

footer {
   background-color: #334A62;
}

.contact button {
   background-color: #19B491;
}
.contact .form-control {
   border-width: 0 0 1px 0;
} 