body {
   color: white;
}

header .conteiner {
  border: 1px solid white;
  height: 100px;
}

header {
  background-color: #273646;
  height: 100px;
}
header .row {
   height: 100px;
}
* [class^="col"] {
   border: 1px solid white;
   height: 40px;
}

.jumbotron {
   height: 500px;
   background-color: #19B491;
}
.jumbotron .img {
   margin: 50px 0 20px;
   height: 150px;
   width: 150px;
   border: 1px solid
}
.jumbotron .title {
   border: 1px solid;
   height: 200px;
   width: 400px;
}

main .title {
   margin: 20px 0 20px;
   height: 80px;
   border: 1px solid black
}

main [class^="col"] {
   height: 300px;
}

.about {
   margin: 20px 0;
   background-color: #19B491;
}

