header {
  background-color: #273646;
}
.navbar-light .navbar-toggler {
   color: rgb(255, 253, 253);
   border-color: rgb(255,255,255)
}

/* ! JUMBOTRON  */

.jumbotron {
   background-color: #19B491;
}
.jumbotron .img {
   margin: 50px 0 20px;
   width: 350px;
}

/* ! ABOUT  */

.about {
   background-color: #19B491;
}
.download {
   margin-top: 20px;
   height: 50px;
}
.star {
   height: 40px;
}
.bar {
   height: 3px;
   width: 50px;
   background-color: white;
}
.btn-download {
   border: 1px solid white;
}

/* ! CONTACT  */
.contact-col [class^="col"] {
   border: 1px solid black;
   height: 50px;
}
.contact button {
   background-color: #19B491;
}
.contact .form-control {
   border-width: 0 0 1px 0;
} 

/* ! FOOTER  */
footer {
   background-color: #334A62;
}
.start-b {
   color:  #19B491;
}
.footer-bottom {
   background-color: rgb(47,62,78);
}